{% extends "common/base.html" %} 
{% block title %}Последние обновления у зафолловенных пользователей{% endblock %}
{% block header %}Последние обновления у зафолловенных пользователей{% endblock %}
{% block content %}
  <div class="container">
    {% include "common/menu.html" with follow=True %}
    
    {% for post in page %}
      {% include "common/post_item.html" with post=post %}
    {% endfor %}
  </div>

  {% include "common/paginator.html" with items=page paginator=paginator %}
{% endblock %}