{% extends "common/base.html" %} 
{% block title %}Последние обновления на сайте{% endblock %}
{% block header %}Последние обновления на сайте{% endblock %}
{% block content %}
  <div class="container">
    {% load cache %}
    {% cache 500 index_page %}

    {% include "common/menu.html" with index=True %}
    
    {% for post in page %}
      {% include "common/post_item.html" with post=post %}
    {% endfor %}
    
    {% endcache %}
  </div>

  {% include "common/paginator.html" %}
{% endblock %}